@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

    * {
        box-sizing: border-box; 
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
        font-family: "Monsterrat", sans-serif;
    }

    #YTlogo{
        height: 50px;
        width: 100px;
    }

    #searchbar{
        display: flex;
        height: 40px;
        width: 500px;
    }

    button{
        height: 40px;
        width: 100px;
    }

    #Acclogo{
        height: 50px;
        width: 50px;
    }

    #thumbnail{
        height: 100px;
        width: 200px;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    
    .content-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        
    }
    
    .content {
        margin: 0 auto;
        width: 100%;
        max-width: 1700px;
        display: flex;
        flex: 1;
    }
    
    .content > article {
        display: flex;
        flex: 1;
        min-height: 60vh;
        justify-content: center;
    }

    iframe{
        width: 1300px;
        height: 800px;
        margin-left
    }
    
    .content > aside {
        background: beige;
        flex: 1;
        max-width: 200px;
    }
