@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

body{
    font-family: "Monsterrat", sans-serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

#Acclogo{
    display: flex;
    float: right;
}
    
